@tailwind base;
@tailwind components;
@tailwind utilities;

.bd {
  border: 1px solid #f00;
}

[x-cloak] {
  display: none !important;
}

:root {
  --headerHeight: 68px;
}

html,
body {
  @apply min-h-full scroll-smooth;
}

html {
  @apply font-mont text-body-light antialiased;
}

body.menuOpen {
  @apply overflow-hidden;
}

.scroll-margin {
  scroll-margin-top: var(--headerHeight);
}

#container {
  @apply flex min-h-screen flex-col;
}

#header {
  @apply fixed top-0 left-0 z-50 w-full bg-white/80 drop-shadow-lg;
}

.header__nav {
  @apply pt-1 text-sm transition duration-[0s] md:py-0 md-down:fixed md-down:top-0 md-down:left-0 md-down:flex md-down:h-screen md-down:w-screen md-down:-translate-x-full md-down:items-center md-down:justify-center md-down:overflow-auto md-down:bg-body/90 md-down:text-white md-down:opacity-0 md-down:duration-500;
}

.header__ul {
  @apply flex flex-wrap items-center justify-center md-down:w-full md-down:flex-col;
}

.header__ul a {
  @apply inline-block p-2 transition hover:text-body hover:underline md-down:text-white/60 md-down:hover:text-white;
}

.header__ul a.is_active {
  @apply font-medium text-brand underline md-down:text-white;
}

#main {
  padding-top: var(--headerHeight);

  @apply flex-grow md-down:text-sm;
}

/* swiper carousel starts */
.swiper-container,
.swiper-slide {
  @apply !h-auto;
}

.swiper-pagination {
  @apply relative !top-auto !bottom-auto !mt-12 flex items-center justify-center space-x-2;
}

.swiper-pagination-bullet {
  @apply h-2 w-2 rounded-full !bg-body/50 transition;
}

.swiper-pagination-bullet:first-child {
  @apply !mx-0;
}

.swiper-pagination-bullet-active {
  @apply h-3 w-3 rounded-full !bg-brand;
}

.products-list > div {
  @apply flex items-center md-down:flex-col md-down:gap-6 md-down:text-center;
}

.products-list > div:nth-child(2n) {
  @apply flex-row-reverse md-down:flex-col;
}

#footer {
  @apply flex-shrink-0;
}

.footer__ul {
  @apply flex flex-wrap items-center md:justify-center;
}

.footer__ul a {
  @apply inline-block p-2 transition hover:text-body hover:underline;
}

.footer__ul a.is_active {
  @apply text-brand underline;
}

@layer components {
  .container {
    @apply max-w-screen-xl px-4;
  }
}
